* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
    
    color: #839791;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
 body {
     
    margin: 0 auto;
 }

header {
    height: 100vh;
    /*background: #839791;*/
    background-image: url(../img/plant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: center;
}

/* NAVBAR ==================================*/
.nav {
    padding-top: 2em;
    
}

.nav__list {
    display: flex;
    float: right;  
    padding-right: 2em;
}
 
.nav__item {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 200;
    padding: 0 1em;
}

.nav__link {
    text-decoration: none;
    
}

.nav__link:hover,
.nav__link:focus {
    color: #896978;
    border-bottom: 1px solid #896978;
}


/* INTRO =================================*/

.intro {
    text-align: left;
    padding: 3.5em 3.5em;
    
}

.intro__text {
    font-size: 4em;
    line-height: 0.85;
    font-weight: 700;
    color: #839791;
    padding-top: 1.2em;
}

.highlight__text {
    color: #896978;
    font-weight: 200;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ABOUT ==================================*/

.blog {
    background: #839791;
    height: 350px;
}

.blog__text {
    color: white;
    text-align: center;
    padding: 3em 5em;
    font-size: 20px;
    font-weight: 200;
}

.blog__button {
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    padding-top: 1.3em;
    font-size: 24px;
    
}

.button {
    border: 1px solid white;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

.button:hover,
.button:focus {
    background: white;
    color: #839791;
}