* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
    
    color: white;
    margin: 0;

}
 body {
     
    margin: 0 auto;
 }

header {
    height: 400px;
    background: #839791;
}

/* NAVBAR ==================================*/
.nav {
    padding-top: 2em;
    
}

.nav__list {
    display: flex;
    float: right;  
}
 
.nav__item {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1em;
    font-weight: 200;
    padding: 0 1em;
}

.nav__link {
    text-decoration: none;
    
}

.nav__link:hover,
.nav__link:focus {
    color: #EFD5C3;
    border-bottom: 1px solid #EFD5C3;
    
}

/* INTRO =================================*/

.intro {
    text-align: center;
    padding: 5.5em 0;
    
}

.intro__text {
    font-size: 4em;
    line-height: 1.1;
    font-weight: 900;
}

.highlight__text {
    color: #EFD5C3;
    font-weight: 200;
    font-size: 40px;
}

/* EXTRA ==================================*/

.extra {
    background:#AAC0AF;
    
    height: 155px;
}

.extra-text {
    text-align: center;
    padding: 1.3em;
    font-size: 24px;
    color: white;
    font-weight: 200;
}

/* EXTRA ==================================*/

.about {
    background: #839791;
    height: 400px;
}